<div class="screen" th:fragment="form">


    <div class="content extrusion">
      <h2 id="xx">Enter Details</h2>
      <form>
        <label for="username">USERNAME</label>
              <input type="text" name="username" placeholder=""/>
        <label for="password">COUNTRY</label>
        <select type="password" name="password" placeholder="">
          
          <option>India</option>
             
          <option>USA</option>
             
          <option>RSA</option>
        </select>
        
  
    </form>
    </div>
  </div>