body {
    font-family: Arial, sans-serif;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    margin: 0;
    padding: 0;
    /* background-color: #f0f0f0; */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border:3px solid yellow; */
    ;
    height:100vh;
    width: 100%;
    max-width:90vw;
    margin: auto;
    /* background-color: #ffffff; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* padding: 20px; */
    /* margin-top: 40px; */
}


#content h1 {	
    font-size: 3.85rem;
	line-height: 0.95;
	text-align: center;
	font-weight: bold;
	margin: 0 0.65em 1em;
    margin-top:40px;

    /* margin: 0; */
    /* font-size: 2em; */
    color: lightgray;
}

.toolbar {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.toolbar button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toolbar button:hover {
    background-color: #0056b3;
}

.toolbar button i {
    margin-right: 5px;
}

canvas {
    border: 2px solid white;
    width: 100%;
    height: calc(70vh - 95px);
    touch-action: none;
    background-color: black;
    border-radius: 4px;
}

#result {
    margin-top: 10px;
    font-size: 1.3em;
    color : white;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    .toolbar button {
        padding: 8px 16px;
        font-size: 0.9em;
    }

    canvas {
        height: calc(60vh - 40px);
    }
}